[submodule "vendor/backbone"]
	path = vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "vendor/coffeescript"]
	path = vendor/coffeescript
	url = git://github.com/jashkenas/coffee-script.git
